<table class="tablita-about" style="width: 1207px; height: 430px;">
    <tbody>
        <tr class="tr_primero" style="height: 147px;">
            <td class="td_somos" style="width: 1197px; height: 147px;" colspan="3">
                <h2 style="color: #7cba37;"><span style="font-weight: bold;">Somos una app móvil y una plataforma en línea</span></h2>
                <p><strong><span style="color: #a3a3a3;">Que conecta e integra de manera inclusiva a todos los actores de la cadena de valor agrícola </span><span style="color: #a3a3a3;">en un ecosistema de negocios digítales.</span></strong><span style="color: #a3a3a3; font-weight: bold;"> Nos dedicamos a crear las mejores estrategias para la digitalización de la cadena agrícola en </span>
                    <span
                        style="color: #a3a3a3; font-weight: bold;">Guatemala añadiendo valor y brindando soluciones sostenibles para todos los involucrados.</span>
                </p>
            </td>
        </tr>
        <tr class="tr_segundo" style="height: 283px;">
            <td class="td_valores" style="width: 374.641px; height: 283px;">
                <h2 style="color: #7cba37; margin-bottom: 5px;"><span style="font-weight: bold;">Nuestros</span></h2>
                <h2 style="color: #575757; margin-top: 5px;"><strong>Valores</strong></h2>
                <span style="color: #a3a3a3; font-weight: bold;">Con los que ejecutamos nuestras acciones y <br>nuestro comportamiento en cada paso.</span></td>
            <td class="td_valores_primeros" style="width: 353.25px; height: 283px;">
                <h3 style="color: #7cba37;"><img src="{{media url=" wysiwyg/Responsabilidad.png "}}" alt="Responsabilidad" width="32" height="32"><span style="font-weight: bold; margin-left: 15px;">Responsabilidad</span></h3>
                <span style="color: #a3a3a3; font-weight: bold;">Hacia la agrícultura moderna sostenible y responsable.</span>
                <h3 style="color: #7cba37;"><img src="{{media url=" wysiwyg/Inclusi_n.png "}}" alt="Inclusión" width="32" height="32"><span style="font-weight: bold; margin-left: 15px;">Inclusión</span></h3>
                <span style="color: #a3a3a3; font-weight: bold;">De hombres, mujeres y jóvenes para la sostenibilidad de las comunidades.</span></td>
            <td class="td_valores_segundos" style="width: 457.109px; height: 283px;">
                <h3 style="color: #7cba37;"><img src="{{media url=" wysiwyg/diversidad.png "}}" alt="Diversidad" width="32" height="32"><span style="font-weight: bold; margin-left: 15px;">Diversidad</span></h3>
                <span style="color: #a3a3a3; font-weight: bold;">De productos y modelos de negocio.</span>
                <h3 style="color: #7cba37;"><img src="{{media url=" wysiwyg/confiabilidad.png "}}" alt="Confiabilidad" width="32" height="32"><span style="font-weight: bold; margin-left: 15px;">Confiabilidad</span></h3>
                <span style="color: #a3a3a3; font-weight: bold;">De los procesos, productos y transacciones.<br><br><br><br><br><br><br></span></td>
        </tr>
    </tbody>
</table>