<?php
$viewModel = $block->getViewModel();
?>

<div class="columns">
        <div class="column main">
            <div class="product media">
                <h2 style="color: #7cba37;"><span style="font-weight: bold;">Chatea con nosotros</span></h2>
                <h2 style="color: #575757; margin-top: -15px;">escríbenos</h2>
                <h3 style="color: #7cba37;" class="contact_page-icon-telefonito"><span style="font-weight: bold;">WhatsApp Business</span></h3>
                <p class="contact_page-info"><a href="https://wa.me/50233373387?text=Hola Agriconecta!" target="_blank">¡Clic Aquí!</a></p><br/>
                <!-- <h3 style="color: #7cba37;" class="contact_page-icon-correo"><span style="font-weight: bold;">Correo electrónico</span></h3>
                <p class="contact_page-info"><span style="color: #a3a3a3; font-weight: bold;">info@agriconecta.com</span></p> -->
            </div>
            <div class="product-info-main">
                <form class="form contact"
                    action="<?= $block->escapeUrl($block->getFormAction()) ?>"
                    id="contact-form"
                    method="post"
                    data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
                    data-mage-init='{"validation":{}}'>
                    <div class="columns">
                        <div class="column main">
                            <fieldset class="fieldset">
                                <legend>
                                    <h2 style="color: #7cba37;"><span style="font-weight: bold;">O déjanos tus datos</span></h2>
                                    <h2 style="color: #575757; margin-top: -15px;">y nosotros te contactamos</h2>
                                </legend><br />
                                <div class="product media">
                                    <div class="field name required">
                                        <div class="control">
                                            <input name="name"
                                                id="name"
                                                title="<?= $block->escapeHtmlAttr(__('Name')) ?>"
                                                value="<?= $block->escapeHtmlAttr($viewModel->getUserName()) ?>"
                                                class="input-text"
                                                type="text"
                                                placeholder="<?= $block->escapeHtmlAttr(__('Nombre*')) ?>"
                                                data-validate="{required:true}"/>
                                        </div>
                                    </div>
                                    <div class="field email required">
                                        <div class="control">
                                             <input name="email"
                                                id="email"
                                                title="<?= $block->escapeHtmlAttr(__('Email')) ?>"
                                                value="<?= $block->escapeHtmlAttr($viewModel->getUserEmail()) ?>"
                                                class="input-text"
                                                type="email"
                                                placeholder="<?= $block->escapeHtmlAttr(__('Correo electrónico*')) ?>"
                                                data-validate="{required:true, 'validate-email':true}"/>
                                        </div>
                                    </div>
                                    <div class="field telephone">
                                        <div class="control">
                                            <input name="telephone"
                                                id="telephone"
                                                title="<?= $block->escapeHtmlAttr(__('Phone Number')) ?>"
                                                value="<?= $block->escapeHtmlAttr($viewModel->getUserTelephone()) ?>"
                                                class="input-text"
                                                type="tel"
                                                placeholder="<?= $block->escapeHtmlAttr(__('No. de teléfono*')) ?>" />
                                        </div>
                                    </div>
                                </div>
                                <div class="product-info-main">
                                    <div class="field comment required">
                                        <div class="control">
                                        <textarea name="comment"
                                                    id="comment"
                                                    title="<?= $block->escapeHtmlAttr(__('What’s on your mind?')) ?>"
                                                    class="input-text"
                                                    cols="5"
                                                    rows="3"
                                                    placeholder="Comentarios adicionales."
                                                    data-validate="{required:true}"><?= $block->escapeHtml($viewModel->getUserComment()) ?></textarea>
                                        </div>
                                    </div>
                                </div>
                                <?= $block->getChildHtml('form.additional.info') ?>
                            </fieldset>
                        <div>
                    <div>
                    <div class="contact_page-button-form">
                        <!-- Para quitar todos los estilos de el contenedor de esta parte, se nombro diferente el div, este no tiene estilos y no esta declarado en ninguna pagina de estilos
                        si se le quiere dar estilos, debe crear la clase con el nombre 'contact_page-button-form', ya que no existe -->
                        <div class="contact-button">
                            <input type="hidden" name="hideit" id="hideit" value="" />
                            <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary">
                                <span><?= $block->escapeHtml(__('ENVIAR MENSAJE')) ?></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</div>

<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Customer/js/block-submit-on-send": {
                "formId": "contact-form"
            }
        }
    }
</script>
