/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
.page-title-wrapper {
    display: none;
}
#password-strength-meter {
    height: auto !important;
    line-height: 20px;
}
.wk-mp-header {
    color: #FFFFFF;
    padding: 7.5%;
    text-align: center;
}
.wk-mp-header h1 {
    font-size: 1.9em;
    color: #FFFFFF;
    margin: .5em 0;
    font-weight: bold;
    word-wrap: break-word;
}
.wk-mp-header h2 {
    font-size: 20px;
    color: #FFFFFF;
    text-transform: inherit;
    margin: .5em 0;
    font-weight: 600;
}
.wk-list-container-wrapper {
    padding: 3% 0;
    width: 65%;
    display: inline-block;
}
.wk-list-container-registration {
    background-color: #FFFFFF;
}
.wk-mp-landingpage .form.create.account .fieldset {
    margin-bottom: 0;
    min-height: auto;
    padding: 0;
    background: transparent;
    border: none;
    width: 100%;
}
.wk-list-container-registration .control {
    width: 100%!important;
}
.wk-list-container-registration .actions-toolbar {
    border: none;
    padding: 0;
    background: transparent;
}
@media only screen and (max-width: 768px) {
    .wk-list-container-registration {
        padding: 10px;
    }
}
.wk-text-transform-left {
    text-align: left;
}
.wk-text-transform-center {
    text-align: center;
}
@media(min-width: 1001px) {
    .wk-mp-landingpage .wk-list-container {
        padding: 1%;
        float:left;
        width: 48%;
    }
}
@media(max-width: 1000px) {
    .wk-mp-landingpage .wk-list-container {
        width: 100%;
    }
}
.wk-mp-landingpage ul li {
    display: inline-block;
    width: 100%;
}
.wk-icon-container {
    width: 60px;
    float: left;
}
.wk-icon-content {
    float: left;
    width: calc(100% - 60px);
}
.wk-icon-content .wk-icon-span {
    display: inline-block;
    width: 100%;
    padding-bottom: 5px;
}
.wk-mp-landingpage ul li .wk-icon-container:before,
.wk-mp-landingpage ul li.wk-icon-check:before {
    content: '';
    display: inline-block;
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-image: url('../images/landingpage1/icon/sell-page-2-sprite.png');
}
.wk-icon1 .wk-icon-container:before {
    background-position: 0 0;
}
.wk-icon2 .wk-icon-container:before {
    background-position: -50px 0;
}
.wk-icon3 .wk-icon-container:before {
    background-position: -100px 0;
}
.wk-icon4 .wk-icon-container:before {
    background-position: -150px 0;
}
.wk-icon5 .wk-icon-container:before {
    background-position: -200px 0;
}
.wk-icon6 .wk-icon-container:before {
    background-position: 0 -50px;
}
.wk-icon7 .wk-icon-container:before {
    background-position: -50px -50px;
}
.wk-icon8 .wk-icon-container:before {
    background-position: -100px -50px;
}
.wk-icon9 .wk-icon-container:before {
    background-position: -150px -50px;
}
.wk-icon10 .wk-icon-container:before {
    background-position: -200px -50px;
}
.wk-icon-check:before {
    background-position: 0 -100px;
    width: 28px!important;
    height: 25px!important;
}
.wk-mp-landingpage ul {
    width: 90%;
}
.wk-mp-landingpage ul li {
    list-style: none;
    vertical-align: top;
    text-align: left;
}
.wk-mp-landingpage ul li .wk-icon-span {
    font-size: 16px;
    font-weight: 600;
    color: #4F9DD5;
    vertical-align: top;
}
@media only screen and (max-width: 768px) {
    .wk-mp-landingpage ul li .wk-icon-span {
        font-size: 1.2rem;
    }
}
.wk-mp-landingpage ul li .wk-icon-div {
    font-size: 12px;
    color: #807E7E;
}
.wk-mp-landingpage .wk-icon-check-span {
    font-size: 16px;
    font-weight: 600;
    color: #807E7E;
    vertical-align: top;
}
.wk-list-container-class {
    width: 100%;
    background-color: #f4f4f4;
}
.wk-list-container-feature-label {
    font-size: 18px;
    font-weight: 600;
    color: #6B6767;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.wk-mp-landingpage .form.create.account {
    width: 100%;
    min-width: 100%;
    color: #807E7E;
}
.wk-mp-landingpage .form.create.account .legend, .newsletter, br {
    display: none!important;
}
.wk-mp-landingpage .form.create.account .fieldset {
    margin-bottom: 0;
}
.wk-mp-landingpage .form.create.account .info .field,
.wk-mp-landingpage .form.create.account .account .password,
.wk-mp-landingpage .form.create.account .account .confirmation {
    width: 48%;
    padding-right: 1%;
    float: left;
}
@media only screen and (max-width: 768px) {
    .wk-mp-landingpage .form.create.account .info .field,
    .wk-mp-landingpage .form.create.account .account .password,
    .wk-mp-landingpage .form.create.account .account .confirmation {
        width: 100%;
        padding-right: 1%;
        float: none;
    }
}
.wk-mp-landingpage .form.create.account .field {
    margin-bottom: 10px;
}
.wk-mp-landingpage .form.create.account .account .password,
.wk-mp-landingpage .form.create.account .account .confirmation {
    margin-bottom: 30px;
}
.wk-mp-landingpage .form.create.account .account input[type=email]{
    width: 97%;
}
.wk-mp-landingpage .primary {
    text-transform: uppercase;
}
#wk-vender-login-box a {
    font-weight: 700;
    color: red;
}
.column.main {
    min-height: 0!important;
}
#wk-termsconditions-box, .profileurl {
    display: inline-block;
}
.wk-mp-landing-button {
    background-color: #fff!important;
    border-radius: 0;
    text-transform: uppercase!important;
    font-size: 14px!important;
}
.wk-mp-landing-button strong{
    color: #4F9DD5!important;
}
.wk-mp-header h1 {
    text-transform: uppercase!important;
}
#wantptr {
    display: inline-block!important;
}
.wk-list-container #register-form-now {
    width: 100%!important;
}
.wk-mp-landingpage #register-form-now .form.create.account .info .field,
.wk-mp-landingpage #register-form-now .form.create.account .account .password,
.wk-mp-landingpage #register-form-now .form.create.account .account .confirmation {
    width: 100%!important;
    padding-right:0!important;
    float: none!important;
}
