<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
$helper = $this->helper(\Webkul\Marketplace\Helper\Data::class);
$marketplacelabel1  =   $escaper->escapeHtml($helper->getMarketplacelabel1());
$marketplacelabel2  =   $escaper->escapeHtml($helper->getMarketplacelabel2());
$marketplacelabel3  =   $escaper->escapeHtml($helper->getMarketplacelabel3());
$marketplacelabel4  =   $escaper->escapeHtml($helper->getMarketplacelabel4());
$banner_display     =   $helper->getDisplayBanner();
$banner_image       =   $helper->getBannerImage();
$banner_content     =   $helper->getBannerContent();
$icons_display      =   $helper->getDisplayIcon();
$icon_image1        =   $helper->getIconImage1();
$icon_image1_label  =   $escaper->escapeHtml($helper->getIconImageLabel1());
$icon_image2        =   $helper->getIconImage2();
$icon_image2_label  =   $escaper->escapeHtml($helper->getIconImageLabel2());
$icon_image3        =   $helper->getIconImage3();
$icon_image3_label  =   $escaper->escapeHtml($helper->getIconImageLabel3());
$icon_image4        =   $helper->getIconImage4();
$icon_image4_label  =   $escaper->escapeHtml($helper->getIconImageLabel4());
$marketplacebutton  =   $helper->getMarketplacebutton();
$marketplaceprofile =   $helper->getMarketplaceprofile();

// Iconos del nuevo tema
$icontienda = $this->getViewFileUrl('Webkul_Marketplace::images/landingpage1/icon/iconos-09.svg');
$icontiendaa = $this->getViewFileUrl('Webkul_Marketplace::images/landingpage1/icon/iconos-10.svg');
$icontiendaaa = $this->getViewFileUrl('Webkul_Marketplace::images/landingpage1/icon/iconos-11.svg');
$nombre_del_widget = "Nuevas Tiendas";
$resenia_avatar = $this->getViewFileUrl('Webkul_Marketplace::images/landingpage1/icon/woman.svg');
$resenia_avatar2 = $this->getViewFileUrl('Webkul_Marketplace::images/landingpage1/icon/man.svg');
$resenia_avatar3 = $this->getViewFileUrl('Webkul_Marketplace::images/landingpage1/icon/woman2.svg');

$imageHelper = $this->helper(\Magento\Catalog\Helper\Image::class);
$placeholderImageUrl = $imageHelper->getDefaultPlaceholderUrl('small_image');
/*order collection*/
$bestSellersData = $block->getBestSaleSellers();
$seller_arr = $bestSellersData['0'];
$sellerProfileArr = $bestSellersData['1'];
$sellerCountArr = $bestSellersData['2'];
$sellerAccountUrl = $block->getUrl(
    'marketplace/account/becomeseller',
    ["_secure" => $this->getRequest()->isSecure()]
);
if (!$helper->isCustomerLoggedIn()) {
    $sellerAccountUrl = $helper->getSellerRegistrationUrl();
}
?>
<div class="wk-mp-design wk-mp-landingpage wk-mp-landingpage-layout1">
    <!-- Distribuye tus productos agricolas -->

    <div class="container-distribucion">
      <div class="container-info-distribucion">
        <h1>Distribuye tus</h1>
        <h2>productos agrícolas</h2>
        <p>Somos el primer mercado de insumos agrícolas en Guatemala, y hay muchos productores cerca de tu tienda que buscan tecnologías e insumos.</p>
        <br/>
        <div>
          <a href="http://agrib-dev.agriconecta.com/customer/account/create/v/1/" class="btn-abrir-tienda">Abrir tienda de insumos</a>
        </div>
      </div>
    
      <div class="container-icon-distribucion">

        <div class="container_texto_uno">
          <img src="<?= $escaper->escapeUrl($icontienda) ?>" alt="img_registra_tienda" class="icons_tienda">
          <div class="texto_uno">
            <h1 class="titulo-distribucion">Registra tu tienda en línea</h1>
            <p>Registra tu agroservicio de forma fácil y rápido.</p>
          </div>
        </div>

        <br/>
        <div class="container_texto_dos">
          <img src="<?= $escaper->escapeUrl($icontiendaa) ?>" alt="img_agrega_productos" class="icons_tienda">
          <div class="texto_dos">
            <h1 class="titulo-distribucion">Agrega productos y empieza a vender</h1>
            <p>Somos tu mejor aliado para vender en línea.</p>
          </div>
        </div>

        <br/>
        <div class="container_texto_tres">
          <img src="<?= $escaper->escapeUrl($icontiendaaa) ?>" alt="img_revisa_ventas" class="icons_tienda">
          <div class="texto_tres">
            <h1 class="titulo-distribucion">Revisa tus ventas</h1>
            <p>Por medio de reportes y métricas para un mejor monitoreo de tus ingresos.</p>
          </div>
        </div>

      </div>
    </div>
    <!-- Distribuye tus productos agricolas -->

    <!-- Reseñas -->

    <div id="page">
            <section>
                
                <div id="slider-container">
                    <div id="slider-box">
                        <div class="slider-element">
                            <article class="element-red">
                                <div class="container_resenias">

                                    <div class="titulo">
                                        <h1>Cada día más personas confían en Agriconecta para ampliar su negocio y vender en línea</h1>
                                    </div>
                                    <div class="resenia">
                                        <span>“Estoy contenta porque luego de haber creado la tienda, he vendido mucho más, Gracias.”</span>
                                    </div>
                                    <div class="persona">
                                        <img src="<?= $escaper->escapeUrl($resenia_avatar) ?>" alt="avatar">
                                        <div class="persona_container">
                                            <span class="nombre">Julia Cabrera Marroquín</span>
                                            <span class="nombre_agroservicio">Agroservicio La ceiba</span>
                                        </div>
                                    </div>

                                </div>
                            </article>
                            
                        </div>
                        <div class="slider-element">
                            <article class="element-green">
                                <div class="container_resenias">

                                    <div class="titulo">
                                        <h1>Cada día más personas confían en Agriconecta para ampliar su negocio y vender en línea</h1>
                                    </div>
                                    <div class="resenia">
                                        <span>“Gracias a la aplicación ahora se en cuanto puedo vender mis productos.”</span>
                                    </div>
                                    <div class="persona">
                                        <img src="<?= $escaper->escapeUrl($resenia_avatar2) ?>" alt="avatar">
                                        <div class="persona_container">
                                            <span class="nombre">Luis Antonio Conte</span>
                                            <span class="nombre_agroservicio">Agroservicio La Oriental</span>
                                        </div>
                                    </div>

                                </div>
                            </article>
                        </div>
                        <div class="slider-element">
                            <article class="element-blue">
                                <div class="container_resenias">

                                    <div class="titulo">
                                        <h1>Cada día más personas confían en Agriconecta para ampliar su negocio y vender en línea</h1>
                                    </div>
                                    <div class="resenia">
                                        <span>“Me gusta lo fácil que es la aplicación para poder entenderle.”</span>
                                    </div>
                                    <div class="persona">
                                        <img src="<?= $escaper->escapeUrl($resenia_avatar3) ?>" alt="avatar">
                                        <div class="persona_container">
                                            <span class="nombre">Marìa Lopèz</span>
                                            <span class="nombre_agroservicio">Agroservicio La Esquinita</span>
                                        </div>
                                    </div>

                                </div>
                            </article>                            
                        </div>
                    </div>
                </div>
                
            </section>            
        </div>
    
    <br/>
    <br/>

    <!-- Reseñas -->

    <?php if ($helper->getSellerProfileDisplayFlag()) { ?>
        <h1 class="wk-marketplace-titulo-widget"><?php echo "$nombre_del_widget" ?></h1>

        <div class="wk-mp-landing-sellers-container">
            <?php
            $i = 0;
            $count = count($seller_arr);
            foreach ($seller_arr as $seller_id => $products) {
                $i++;
                if ($i <= 4) {
                    $seller_product_count = 0;
                    $profileurl = 0;
                    $shoptitle = '';
                    $logo="noimage.png";

                    $seller_product_count = $sellerCountArr[$seller_id];

                    if (isset($sellerProfileArr[$seller_id][0])) {
                        $profileurl = $sellerProfileArr[$seller_id][0]['profileurl'];
                        $shoptitle = $sellerProfileArr[$seller_id][0]['shoptitle'];
                        $logo = $sellerProfileArr[$seller_id][0]['logo'];
                    }
                    if (!$shoptitle) {
                        $shoptitle = $profileurl;
                    }
                    $logo = $helper->getMediaUrl().'avatar/'.$logo;
                    if (!isset($products[0])) {
                        $products[0] = 0;
                        $products_name_1 = '';
                        $products_url_1 = '';
                        $products_image_url_1 = $placeholderImageUrl;
                    } else {
                        $product_1 = $block->getProduct($products[0]);
                        $products_name_1 = $product_1->getName();
                        $products_url_1 = $product_1->getProductUrl();
                        $products_image_url_1 = $block->imageHelperObj()->init($product_1, 'product_page_image_small')->setImageFile($product_1->getFile())->constrainOnly(false)->keepAspectRatio(true)->keepFrame(true)->resize(130)->getUrl();
                    }

                    if (!isset($products[1])) {
                        $products[1] = 0;
                        $products_name_2 = '';
                        $products_url_2 = '';
                        $products_image_url_2 = $placeholderImageUrl;
                    } else {
                        $product_2 = $block->getProduct($products[1]);
                        $products_name_2 = $product_2->getName();
                        $products_url_2 = $product_2->getProductUrl();
                        $products_image_url_2 = $block->imageHelperObj()->init($product_2, 'product_page_image_small')->setImageFile($product_2->getFile())->constrainOnly(false)->keepAspectRatio(true)->keepFrame(true)->resize(130)->getUrl();
                    }

                    if (!isset($products[2])) {
                        $products[2] = 0;
                        $products_name_3 = '';
                        $products_url_3 = '';
                        $products_image_url_3 = $placeholderImageUrl;
                    } else {
                        $product_3 = $block->getProduct($products[2]);
                        $products_name_3 = $product_3->getName();
                        $products_url_3 = $product_3->getProductUrl();
                        $products_image_url_3 = $block->imageHelperObj()->init($product_3, 'product_page_image_small')->setImageFile($product_3->getFile())->constrainOnly(false)->keepAspectRatio(true)->keepFrame(true)->resize(260)->getUrl();
                    }
                    ?>
                    <div class="wk-mp-landing-sellers-wraper <?php if ($count == $i) { echo "wk_last_seller"; }?>">
                        <div class="wk-mp-landing-sellers">
                            <div class="wk-mp-landing-sellers-img2">
                                <a href="<?= $escaper->escapeUrl($products_url_3)?>" title="<?= $escaper->escapeHtmlAttr($products_name_3);?>">
                                    <img src=<?= $escaper->escapeUrl($products_image_url_3);?> />
                                </a>
                            </div>
                            <div class="wk-mp-landing-sellers-logo">
                                <a href="<?= $escaper->escapeUrl($helper->getRewriteUrl('marketplace/seller/profile/shop/'.$profileurl));?>" title="<?= /* @noEscape */  __("View Seller's Shop") ?>"><img src="<?= $escaper->escapeUrl($logo) ?>"></a>
                            </div>
                            <div class="wk-mp-landing-sellers-details">
                                <div>
                                    <a href="<?= $escaper->escapeUrl($helper->getRewriteUrl('marketplace/seller/profile/shop/'.$profileurl));?>" title="<?= /* @noEscape */ __("View Seller's Shop") ?>">
                                        <strong><?= $escaper->escapeHtml($shoptitle) ?></strong>
                                    </a>
                                </div>
                                <div><?= /* @noEscape */  __('%1 Products', $seller_product_count) ?></div>
                                <a href="<?= $escaper->escapeUrl($helper->getRewriteUrl('marketplace/seller/collection/shop/'.$profileurl));?>">
                                    <button class="wk-marketplace-btn" title="<?= /* @noEscape */  __("View Seller's Collection") ?>">
                                        <span>
                                            <span>
                                                <?= /* @noEscape */  __('View All'); ?>
                                            </span>
                                        </span>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <?php
                }
            } ?>
        </div>
    <?php } ?>
</div>
<script>
    require([
        "jquery",
        "mage/mage",
    ], function($){
        $('.page-title-wrapper').hide();
        $('.wk-mp-banner').css('background-image','url("<?= $escaper->escapeUrl($banner_image) ?>")');
    });
</script>
