<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
/** @var \Magento\Framework\Pricing\Helper\Data */
$pricingHelper;
/** @var \Magento\ConfigurableProduct\Pricing\Render\FinalPriceBox$block */
/** @var \Magento\Framework\Pricing\Price\PriceInterface $priceModel */
$priceModel = $block->getPriceType('regular_price');
/** @var \Magento\Framework\Pricing\Price\PriceInterface $finalPriceModel */
$finalPriceModel = $block->getPriceType('final_price');
$idSuffix = $block->getIdSuffix() ? $block->getIdSuffix() : '';
$schema = ($block->getZone() == 'item_view') ? true : false;
$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of Object Manager
$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data'); // Instance of Pricing Helper

?>
<?php if (!$block->hasSpecialPrice()) : ?>

<span class="normal-price">

    <?= /* @noEscape */ $block->renderAmount($finalPriceModel->getAmount(), [
        'display_label' => __('Precio Habitual'),
        'price_id' => $block->getPriceId('product-price-' . $idSuffix),
        'price_type' => 'finalPrice',
        'include_container' => true,
        'schema' => $schema,
    ]);

?>

</span>
<?php endif; ?>
<?php if ($block->hasSpecialPrice()) : ?>

<span class="normal-price">
    <p>
        <b>
    <h3>
    Precio Oferta
    <?=
    //$finalPriceModel->getAmount();
    $priceHelper->currency($finalPriceModel->getValue(), true, false);

    ?>
</h3></b></p>
<!-- Descuento  -->
<?php $descuento=$priceModel->getValue()-$finalPriceModel->getValue();
        $descuento_final = $priceHelper->currency($descuento, true, false);
?>
   <p><h3><b><p style="color:#78AD23;font-size:15px;">Ahorras <?=$descuento_final?></p></b></h3></p>
<p>
Precio Habitual
<strike>
<?= /* @noEscape */ $block->renderAmount($priceModel->getAmount(), [

            'price_id'          => $block->getPriceId('old-price-' . $idSuffix),
            'price_type'        => 'oldPrice',
            'include_container' => true,
            'skip_adjustments'  => true
        ]); ?>
</strike>
</p>
</span>
<?php endif; ?>

<?php if (!$block->isProductList() && $block->hasSpecialPrice()) : ?>

    <span class="old-price sly-old-price no-display">
   <!-- <p> <center><h3><b><p style="color:white; background-color:#7cba37;border-radius: 25px;">!Ahorras Q60.61¡</p></b></h3></center></p> -->
        <?= /* @noEscape */ $block->renderAmount($priceModel->getAmount(), [
            'display_label'     => __('Regular Price'),
            'price_id'          => $block->getPriceId('old-price-' . $idSuffix),
            'price_type'        => 'oldPrice',
            'include_container' => true,
            'skip_adjustments'  => true
        ]); ?>
    </span>
<?php endif; ?>

<?php if ($block->showMinimalPrice()) : ?>
    <?php if ($block->getUseLinkForAsLowAs()) :?>
        <a href="<?= $block->escapeUrl($block->getSaleableItem()->getProductUrl()) ?>" class="minimal-price-link">
            <?= /* @noEscape */ $block->renderAmountMinimal() ?>
        </a>
    <?php else :?>
        <span class="minimal-price-link">
            <?= /* @noEscape */ $block->renderAmountMinimal() ?>
        </span>
    <?php endif?>
<?php endif; ?>
