//Variables 
@background_var: #F5F5F5;
@color-green-agriconecta: #7CBA37;

//Navigation
@navigation__background: @background_var;
@navigation-desktop-level0-item__hover__color: @color-green-agriconecta;
@navigation-desktop-level0-item__active__border-color: @color-green-agriconecta;
@navigation-level0-item__hover__color: @color-green-agriconecta;
@navigation-level0-item__border: 1px solid @color-green-agriconecta;
@navigation-level0-item__active__border-color: @color-green-agriconecta;

//Copyright
// @copyright__background-color: @color-green-agriconecta;

//  Primary button
@button-primary__background: @color-green-agriconecta;
@button-primary__hover__background: @color-green-agriconecta;
@button-primary__border: 1px solid @color-green-agriconecta;
@button-primary__hover__border: 1px solid @color-green-agriconecta;
@button__border-radius: 21px;


// Copyright
@color-gray-middle4: #7CBA37;
@copyright__background-color: @color-gray-middle4;


