<div class="input-group">
    <span class="input-group__addon">
        <button click="decreaseQty" class="button_decrease"></button>
    </span>
    <input data-bind="value: qty(), 
                      attr: {'data-validate': getDataValidator(),
                      'title': $t('Qty')}" type="number" name="qty" id="qty" maxlength="12" class="input-text qty" />
    <span class="input-group__addon">
        <button click="increaseQty" class="button_increase"></button>
    </span>
</div>


<style>
    @keyframes aparicion {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0.8;
        }
    }
    
    .button_decrease,
    .button_increase {
        border-radius: 0 !important;
        background-color: #7CBA37;
        color: white;
        border: 0;
    }
    
    .button_decrease:hover,
    .button_increase:hover {
        background-color: #7CBA37;
        color: white;
        border: 0;
        animation: 2s aparicion 1
    }
    /* Para agregarle el icono de menos */
    
    .button_decrease::before {
        content: '\f068';
        color: white;
        font-size: 15px;
        font-weight: bold;
        font-family: 'font-awesome';
    }
    /* Para agregarle el icono de mas */
    
    .button_increase::before {
        content: '\f067';
        color: white;
        font-size: 15px;
        font-weight: bold;
        font-family: 'font-awesome';
    }
</style>