<br>
<br>
<br>
<div class="container_informacion_entrega">

    <div class="informacion_entrega">

        <div class="envio">
            <img src="<?php echo $block->getViewFileUrl('images/icon-envios.svg'); ?>" alt="img_envios" />
            <span>información de envío</span>
        </div>

        <div class="linea_media"></div>
        
        <div class="cambios">
            <img src="<?php echo $block->getViewFileUrl('images/icon-cambios.svg'); ?>" alt="img_cambios" />
            <span>cambios o devoluciones</span>
        </div>

    </div>

</div> 
<br>
<br>