//Variables 
@color-green-agriconecta: #7CBA37;
@background_var: #F5F5F5;

//Desktop
.media-width(@extremun, @break) when (@extremun = 'min') and (@break = @screen__m){
    //Header
    .navigation > ul{
        text-align: center;
        //text-transform: uppercase;
    }
}


// Header
.page-header .panel.wrapper{
    background-color: @color-green-agriconecta;
}

.header.panel > .header.links > li.welcome, .header.panel > .header.links > li a{
    color: white;
}
// Header

//Footer
.footer.content{
    background-color: @background_var;
    border-top: none;
}
.page-footer{
    background-color: @background_var;
}
//Footer

//Copyright
.copy{
    background-color: @color-green-agriconecta;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
//Copyright


//Estilos del block creado para la informacion de pedidos y devoluciones (inicio)

.container_informacion_entrega{
    background-color: #F4F4F4;
    width: 100%;
    height: 222px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.informacion_entrega{
    display: inherit;
    width: 90%;
    justify-content: space-between;
    color: #34446E;
}

.envio, 
.cambios{
    display: flex;
    align-items: center;
    justify-content: center;
}

.envio, .texto_p, 
.cambios, .texto_p{
    text-transform: uppercase;
    font-size: 26px;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 0;
}

.linea_media{
    width: 2px;
    height: 80px;
    background-color: #34446E;

}

@media only screen and (max-width: 767px) {
  
    .container_informacion_entrega{
        width: 100%;
    }

    .informacion_entrega{
        display: block;
        width: 50%;
    }

    .linea_media{
        display: none;
    }

    .envio, .texto_p, 
    .cambios, .texto_p{
        font-size: 20px;
        padding-left: 10px;
        font-weight: bold;
        margin: 0;
    }

}

//Estilos del block creado para la informacion de pedidos y devoluciones (fin)

//Estilos de la pagina de about (inicio)
.contact_page-icon-correo:before {
    color: @color-green-agriconecta;
    content: '\e61d';
    font-family: 'icons-blank-theme';
    font-size: 31px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 11px;
}

.contact_page-icon-telefonito:before {
    color: @color-green-agriconecta;
    content: '\f095';
    font-family: 'font-awesome';
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    padding-right: 10px;
    margin-left: 18px;
}

.contact_page-info{
    margin-left: 42px;
}
//Estilos de la pagina de about (fin)


//Estilos de 'Quienes Somos' para mobil (inicio)

@media screen and (max-width: 625px) {
    .tablita-about {
      border: 0;
    }
  
    .tablita-about tr {
      display: block;
      margin-bottom: .625em;
    }
    
    .tablita-about td {
      display: block;
      font-size: 16px;
      text-align: left;
      width: 100% !important;
    }
//new

    .tr_primero{
      height: 250px !important;
    }

    .tr_segundo{
      height: 600px !important;
    }

    .td_somos{
      height: 270px !important;
      padding: 0 !important;
    }

    .td_valores{
      height: 150px !important;
      padding: 0 !important;
    }

    .td_valores_primeros, .td_valores_segundos{
      height: 200px !important;
      padding: 0 !important;
    }

//new

    .tablita-about td::before {
      /*
      * aria-label has no advantage, it won't be read inside a .tablita-about
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
    }
    
    .tablita-about td:last-child {
      border-bottom: 0;
    }
  }
 
//Estilos de 'Quienes Somos' para mobil (fin)


//Redondear botones e inputs del home
.block.newsletter .action.subscribe{
    border-radius: 0px 21px 21px 0px;
}

.block-search input{
    border-radius: 21px;
}

.block.newsletter input{
    border-radius: 21px 0px 0px 21px;
}

//Redondear botones e inputs del home

.block-search .nested{ //Ocultar el link de la busqueda por filtros
    display: none;
}

//Estilo del titulo del widget de nuevos productos
.title_new_produc{
    color: @color-green-agriconecta;
    font-weight: bold;
    font-size: 30px;
}

/* Distribuye tus productos agricolas (inicio) */
.container-distribucion{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container-info-distribucion{
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    text-align: left;
  }
  
  .container-info-distribucion p{
    width: 550px;
    color: #A3A3A3;
  }
  
  .container-info-distribucion h1{
    font-size: 50px;
    font-weight: bold;
    color: @color-green-agriconecta;
    margin: 30px 0 10px 0;
  }
  
  .container-info-distribucion h2{
    font-size: 50px;
    font-weight: bold;
    color: #707070;
    margin: 10px 0 30px 0;
  }
  
  .container-icon-distribucion{
    width: 100%;
    padding-left: 10px;
  }
  
  .btn-abrir-tienda{
    height: 35px;
    border-radius: 31px;
    background: @color-green-agriconecta;
    color: white;
    border: none;
    padding: 0 15px 0 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: max-content;
    text-decoration: none;
        
    &:hover{
      text-decoration: none;
      color: white;
    }

  }
  
  /*Segunda parte*/
  
  .titulo-distribucion {
    color: @color-green-agriconecta;
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: left;
  }
  
  .icons_tienda{
    width: 65px;
    height: 65px;
  }
  
  .container_texto_uno, 
  .container_texto_dos, 
  .container_texto_tres{
    display: flex;
    align-items: center;
  }
  
  .texto_uno > p,
  .texto_dos > p, 
  .texto_tres > p{
    text-align: left;
    color: #A3A3A3;
  }

  .texto_uno, 
  .texto_dos, 
  .texto_tres {
    padding-left: 30px;
  }

@media only screen and (max-width: 600px) {

    .container-distribucion{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .container-icon-distribucion, 
    .container-info-distribucion{
       padding: 0;
    }

     .container-info-distribucion > h1, 
     .container-info-distribucion > h2, 
     .container-info-distribucion > p,
     .container_texto_uno,
     .container_texto_dos,
     .container_texto_tres{
        margin: 5px 0 10px 45px;
     }
     .container-info-distribucion > h1, 
     .container-info-distribucion > h2{
        font-size: 25px;
        font-weight: bold;
     }

     .container-info-distribucion{
        padding-bottom: 50px;
     }
     .container-info-distribucion > p{
        font-size: 15px;
        width: auto;
        padding-right: 10px;
     }

     .container-info-distribucion > div{
        display: flex;
        justify-content: center;
        align-items: center;
     }

     .btn-abrir-tienda{
        display: flex;
        align-items: center;
        cursor: pointer;
        width: max-content;
        text-decoration: none;
        font-size: 13px;
     }

     .titulo-distribucion{
        font-size: 15px;
        margin-right: 15px;
     }

     .texto_uno p{
        font-size: 15px;
        margin-right: 15px;
     }

     .container-distribucion{
         margin-bottom: 30px;
     }

     .actions-toolbar{
       //Para el boton de la pagina de login, que no salga tan pegado
       padding-bottom: 30px;
     }

}
/* Distribuye tus productos agricolas (fin) */


/* Reseñas (inicio) */
.container_resenias{
  background-color: #F4F4F4;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titulo{
  height: 135px;
  text-align: center;
  display: flex;
  align-items: center;
  align-self: center;
  padding-bottom: 65px;
  width: 1200px;
}

.titulo h1{
  font-size: 32px;
  color: #707070;
  margin: 0;
  font-family: 'Spartan', sans-serif;
  font-weight: normal;
}

.resenia{
  height: 125px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  width: 1100px;
  display: flex;
  align-items: center;
  align-self: center;
}

.resenia span{
  font-size: 37px;
  color: #34446E;
  font-style: italic;
}

.persona{
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.persona_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.nombre{
  color: #34446E;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.nombre_agroservicio{
  color: #707070;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

.nombre, .nombre_agroservicio{
  padding-top: 10px;
  padding-left: 30px;
  
}

.persona img{
  border-radius: 100%;
  width: 90px;
  height: 90px;
}

// Slider de div

input[name="slider-select-element"] {
  display: none;
}

#slider-arrows {
  margin: -10% auto 0 auto;
  width: 80%;
}

#slider-box {
  -moz-animation: autoSlider 15s infinite linear;
  -o-animation: autoSlider 15s infinite linear;
  -webkit-animation: autoSlider 15s infinite linear;
  animation: autoSlider 15s infinite linear;

  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;

  height: 100%;
  width: 300%;
}

#slider-container {
  height: 20%;
  margin: 0 auto;
  overflow: hidden;
  text-align: left;
  width: 100%;
}

.element-blue,
.element-green,
.element-red {
  min-height: 400px;
  max-height: 100%;
  width: 100%;
}

.slider-element {
  float: left;
  width: 33.333%;
}

@-moz-keyframes autoSlider {
  0% {
      margin-left: 0;
  }

  30% {
      margin-left: 0;
  }

  35% {
      margin-left: -100%;
  }

  65% {
      margin-left: -100%;
  }

  70% {
      margin-left: -200%;
  }

  95% {
      margin-left: -200%;
  }

  100% {
      margin-left: 0;
  }
}

@-webkit-keyframes autoSlider {
  0% {
      margin-left: 0;
  }

  30% {
      margin-left: 0;
  }

  35% {
      margin-left: -100%;
  }

  65% {
      margin-left: -100%;
  }

  70% {
      margin-left: -200%;
  }

  95% {
      margin-left: -200%;
  }

  100% {
      margin-left: 0;
  }
}

@keyframes autoSlider {
  0% {
      margin-left: 0;
  }

  30% {
      margin-left: 0;
  }

  35% {
      margin-left: -100%;
  }

  65% {
      margin-left: -100%;
  }

  70% {
      margin-left: -200%;
  }

  95% {
      margin-left: -200%;
  }

  100% {
      margin-left: 0;
  }
}

//Slider de div

/* Para responsive pagina 2 (G13) */

@media only screen and (max-width: 767px) {

  .container_resenias{
      height: 350px;
  }

  .titulo, 
  .resenia{
      width: 100%;
  }

  .titulo h1, 
  .resenia span{
      font-size: 20px;
  }

  .titulo{
      padding-bottom: 10px;
      height: 75px;
  }

  .resenia{
      height: 100px;
  }

  .persona{
      padding-top: 0;
      height: 70px;
  }

  .persona img{
      height: 60px;
      width: 60px;
  }

  .nombre, 
  .nombre_agroservicio{
      padding-left: 25px;
      padding-top: 0;
  }

  .nombre{
      font-size: 15px;
  }

  .nombre_agroservicio{
      font-size: 10px;
  }

}
/* Reseñas (fin) */


//Marketplace webkul

.wk-marketplace-titulo-widget{
  font-weight: bold;
  color: @color-green-agriconecta;
  font-size: 30px;
  text-align: left;
}

.wk-marketplace-btn{
  border-radius: 21px !important;
  border-color: transparent !important;
  background: @color-green-agriconecta !important;
  color: white !important;

    &:hover{
      background: @color-green-agriconecta !important;
      color: white !important;
      
    }

}

//Paginacion del widget de webkul de busqueda de las tiendas(inicio)

.pager_item_actual {
  //Este nombre de clase es nuevo, y es para sustituir la clase current para que dejara dar el color al item actual de la paginacion
    background: @color-green-agriconecta;
    width: 30px;
}

.wk-mp-sellerlist-container .wk-mp-sellerlist-wrap{
  //Para que las tiendas no se desconpongan cuando son mas de 4
  height: 130px;
}

.toolbar-amount{
  //Ocultar la parte del pager donde dice 'Artículos 1 al 8 de 37 totales'
  display: none;
}

.pages strong.page{
  color: white;
}

.pages .action.next{
  margin-left: 0;
  // border-radius: 100%;

  &::before{
    color: #DEE2E6;
    font-size: 31px;
    margin: 0;
    font-weight: normal;
  }
}

.pages .action.previous{
  // border-radius: 100%;

  &::before{
    color: #DEE2E6;
    font-size: 31px;
    font-weight: normal;
  }
}

.pages a.page{
  border: 0.5px solid #DEE2E6;
  height: 31px;
  width: 20px;
  // border-radius: 100%;
}

.button, a.action.primary, .cart.table-wrapper .actions-toolbar>.action, .action-gift{
  background: @color-green-agriconecta;
  color: white;
  border: 0;

  &:hover{
    background: @color-green-agriconecta;
    color: white;  
  }
}

.block.widget .pager .items{
  // Para centrar lo de la paginacion
  text-align: center;
}

@media only screen and (max-width: 767px) {

  .limiter-options{
    //Para que no salga muy pegado el limiter de la paginacion
   margin: 15px 5px 0 7px;
  }

  .pages{
    //Para que no salga muy pegado arriba la paginacion
   margin-top: 15px;
  }

}

//Paginacion del widget de webkul de busqueda de las tiendas(fin)

.columns .column.main{
  // Para quitarle espacio abajo al main
  padding-bottom: 0;
}

.contact-button{
  //Para el boton de 'ENVIAR MENSAJE' que esta en la pagina de contacto
  padding-bottom: 25px;
}

.actions-toolbar>.primary, .actions-toolbar>.secondary{
  //Crear cuenta boton
  margin-bottom: 15px;
}

.privacy-container{
  //Link de Terminos y condiciones y politica de privacidad
  padding-top: 15px;
}

.logo img{
  //Ampliar logo de la tienda
  width: 300px;
}

.block-collapsible-nav .item.current a, .block-collapsible-nav .item.current>strong{
  //Para el color del bordeciro izquierdo
  border-color: @color-green-agriconecta;
}

//checkout
.opc-progress-bar-item._active>span:before, 
.opc-progress-bar-item._active:before, 
.opc-wrapper .shipping-address-item.selected-item:after{
  //Barras de progreso del checkout
  background: @color-green-agriconecta;
}

.opc-wrapper .shipping-address-item.selected-item{
  //Barras de progreso del checkout
  border-color: @color-green-agriconecta;
}

button.action.action-show-popup,
.review-form .action.submit.primary,
button#add-recipient-button,
button.action.action-apply{
  background: @color-green-agriconecta;
  color: white;
  border: 0;
}

button.action.update, 
button#empty_cart_button,
a.action.continue,
.update-cart-item{
  background: white !important;
  color: @color-green-agriconecta !important;
  border: 1px solid @color-green-agriconecta !important;
}

//Estilos module checkout 1 step
.mpquickcart .modal-header{
  background-color: @color-green-agriconecta !important;
}
//Estilos module checkout 1 step


//Cambio de icono del checkout, y el color de la notificacion
.minicart-wrapper .action.showcart .counter.qty{
  background: #EF2323;
}
.minicart-wrapper .action.showcart::before,
.minicart-wrapper .action.showcart.active::before{
    content: url('@{baseDir}images/canasta.svg');
    width: 32px;
}